.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 16px;
}
