<div class="container">
  <div>home works!</div>
</div>

<div class="container">
  <button mat-raised-button color="primary" (click)="showInfoWithSnackBar()">Show Info Message With SnackBar</button>
  <button mat-raised-button color="primary" (click)="showInfoWithDialog()">Show Info Message With Dialog</button>
  <button mat-raised-button color="primary" (click)="showErrorWithSnackBar()">Show Error Message With SnackBar</button>
  <button mat-raised-button color="primary" (click)="showErrorWithDialog()">Show Error Message With Dialog</button>
</div>
